* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.recipe__meals {
  margin: 4rem 0rem;
}

.recipe__meals-card {
  min-height: 25rem;
  overflow: hidden;
}

.recipe__meals-card img {
  border-radius: 2rem;
}